$page-bg: #0e141f;
$box-bg: #273853;
$btn-submit: hsl(217, 36%, 55%);
$primary: $btn-submit;
$border-color: hsl(221, 29%, 50%);
$cellHover-bg: hsl(221, 29%, 30%);

// @import "../../node_modules/bulma/sass/utilities/functions.sass";
// @import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
// @import "../../node_modules/bulma/sass/utilities/derived-variables.sass";
// $addColors: ("submit": ($btn-submit, $btn-submit));
// $colors: map-merge($colors, $addColors);
//#172131;

$body-background-color: $page-bg;
$box-background-color: $box-bg;
$content-heading-color: white;
// $button-disabled-background-color: red;

//navbar
$navbar-background-color: $box-bg;
$navbar-burger-color:white;
$navbar-item-color:white;
$navbar-item-hover-color: $btn-submit;
// $navbar-breakpoint: 768px;
$navbar-box-shadow-color:rgba(0, 0, 0, 0.5);
$navbar-box-shadow-size: 0 4px 10px 0;

//menu
$menu-item-color:$btn-submit;
$menu-label-color:white;
$menu-item-hover-background-color: $border-color;
$menu-item-hover-color: white;

//card
$card-background-color: $box-bg;

//table
$table-background-color: $box-bg;

//pagination
$pagination-color: white;
$pagination-hover-color: white;

// footer
$footer-background-color: $box-bg;

.navbar {
    border-bottom: 1px solid $border-color;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
}

//my classes
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(219, 38%, 9%, 0.75);
    z-index: 5;
}

.overlay-enter-active,
.overlay-leave-active {
    transition: opacity .5s;
}

.overlay-enter,
.overlay-leave-to {
    opacity: 0;
}

.px-1,
.p-1 {
    padding-left: .75rem;
    padding-right: .75rem;
}

.py-1,
.p-1 {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

@media (max-width: 768px) {
    .box {
        margin: 1rem;
    }
}

// desktop
@media(min-width:1024px) {
    .menucontainer {
        transform: translateX(0%) !important;
        min-width: auto;
    }

    .dummy-column {
        min-width: 250px;
    }

    .mycontent {
        margin: 0 5% !important;
    }
}

.spinner {
    color: white;
    transition: 0.5s;
    animation: spinAnim 1s infinite linear;
}

@keyframes spinAnim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

//overrides
.navbar-burger:hover {
    color: white;
}

.box {
    padding: 2rem !important;
}

.is-vertical-center {
    display: flex;
    align-items: center;
    height: 100vh;
}

.is-border {
    border: 1px solid $border-color;
}

.menucontainer {
    position: fixed;
    bottom: 0;
    margin: auto;
    min-width: 250px;
    z-index: 10;
    background-color: $box-bg;
    transform: translateX(-100%);
    transition: all ease .5s;
}

.menucontainer.active {
    transform: translateX(0%);
}

.menuwrapper {
    overflow: hidden;
    top: 0;
    bottom: 0;
    height: 100vh;
    position: relative;
    border-right: 1px solid $border-color;
}

.toggle {
    transform: translateX(-100%);
    transition: all ease .2s;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -20px;
    overflow-y: scroll;
}

.mycontent {
    padding: 1rem;
    margin-top: 3.25rem !important;
    display: flex;
    justify-content: center;
    // width:100%;
    // border:1px solid white;
}

.childcontent {
    flex-grow: 1;
}

@media(max-width:1024px) {
    .mycontent {
        padding: 1rem !important;
    }
}

h1.title,
h1.subtitle,
label {
    color: white !important;
}

.mytable,
.well {
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: $box-bg;
}

.mytable>:not(:last-child) {
    border-bottom: 1px solid $border-color;
}

.mycell {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.mycell:hover {
    background-color: $cellHover-bg;
}

.cell-right {
    margin-left: auto;
}

.pagination {
    margin-top: 1rem !important;
}

.pagination>a {
    background-color: $box-bg !important;
}

.pagination>a:hover {
    background-color: $btn-submit !important;
}

// .pagebase {
//     z-index: 3;
//     height: 100vh;
//     position: fixed;
//     top: 2.5rem;
// 		left: 0;
// 		background-color: $page-bg;
// }

.actionbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.actionnotification,
.errorbox {
    color: white;
    background-color: $box-bg !important;
    padding: .75rem !important;
    margin-bottom: .5rem !important;
    border: 1px solid $border-color;
}

.errorbox {
    margin-top: 1rem;
    background-color: hsl(348, 100%, 61%) !important;
    display: flex;
    align-items: center;
}

@media(min-width:768px) {
    .notifier {
        width: 40% !important;
        left: 30%;
        right: 30%;
    }
}

.notifier {
    text-transform: capitalize;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    background-color: darkgreen; // #23d160;
    color: white;
    width: 100%;
    height: 60px;
    bottom: 0px;
    border: 1px solid lime;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.notify-error {
    background-color: darkred !important;
    border: 1px solid red;
}

.savingoverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0e141f;
    opacity: 0.75;
    width: 100%;
    height: 100%;
		z-index: 5;
		border-radius: 5px;
}

@import "../../node_modules/bulma/bulma.sass";